ul.sidebar__links.sidebar__links--hotlinks
  li
    .links__icon
      i.links__iconplus +

    |Atalho 1
  li
    .links__icon
      i.links__iconplus +

    |Atalho 2
  li
    .links__icon
      i.links__iconplus +

    |Atalho 3
  li
    .links__icon
      i.links__iconplus +

    |Atalho 4

