ul.sidebar__links
  li
    .links__icon
      i.hot-icon.hot-icon-cart

    |Mercado

    i.hot-icon.hot-icon-light-arrow
  li
    .links__icon
      i.hot-icon.hot-icon-user

    |Produtos

    i.hot-icon.hot-icon-light-arrow
  li
    .links__icon
      i.hot-icon.hot-icon-dolar

    |Vendas

    i.hot-icon.hot-icon-light-arrow
  li
    .links__icon
      i.hot-icon.hot-icon-money

    |Compras

    i.hot-icon.hot-icon-light-arrow
