.search__input {
  position: relative;
  top: -5px;
  padding-right: 40px;
  height: 33px;
  width: 203px;
  border-radius: 2px;
  border: none;
  background: $grey;
  color: $grey-dark;
  font-size: 12px;
  text-align: right;
}
