/* Primary colors */

$red: #cc0000;
$black: #373737;
$white: #FFF;
$grey-light: #fbfbfb;
$grey: #f3f3f3;
$grey-dark: #bdbdbd;

/* fonts config */
$OpenSans__url: '../fonts/OpenSans-Regular.ttf';

/* components variables */

  /* sidebar */
  $sidebar__header-bg-url: '../img/hotLogo.png';


